*/bin
*/target
AnImageDegrader/tmp
AnImageDegrader/output/*.dat
AnImageDegrader/output/*.csv
BLooper/loops/*.wav
BLooper/loops/properties.ini
GenerateStoryCollection/input/*.story
GenerateStoryCollection/output/*.php
ToolShedMiniWebApp/local/*.ser

