
  <div id="menu_container">
    <div id="menu">
      <div class="menu_item"><a href="/ui">Configuration</a></div>
      <div class="menu_item"><a href="/project-manager-gui/.well-known/openid-configuration">XTM-OIDC</a></div>
      <div class="menu_item"><a href="/xtmdummy">XTM-Services</a></div>
      <div class="menu_item"><a href="/api">On-Demand</a></div>
      <div class="menu_item"><a href="/consumer">OAuth2</a></div>
      <div class="menu_item"><a href="/claytablet/ui">Clay Tablet</a></div>
      <div class="menu_item"><a href="/memoq/ui">MemoQ</a></div>
    </div>
    <div id="menu_after">
        &nbsp;
    </div>
  </div>


